<!-- book-details.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Book Details</title>
  <link rel="stylesheet" href="./css/admin.css">
  <style>
    /* Add your custom styles here */

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url('/assets/webbg.jpg');
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: #ffffff8e;
  padding: 2%;
  border-radius: 3%;
  margin-top: 2%;
  box-shadow: 2px 2px 1px 1px #00000057;
    }

    .book-image {
      flex: 0 0 300px;
      margin-right: 20px;
    }

    .book-details {
      flex: 1;
    }

    .book-title {
      font-size: 24px;
      margin-top: 0;
    }

    .book-author {
      font-size: 16px;
      color: #888;
      margin-top: 5px;
    }

    .book-genre {
      font-size: 16px;
      color: #888;
      margin-top: 5px;
    }

    .book-description {
      margin-top: 20px;
    }

  header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 1px 1px #00000057;
  display: flex;
      justify-content: space-between;
      align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
  }

  
nav ul li {
  display: inline;
  margin-right: 10px;
}

a:hover {
  text-decoration: underline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

    .go-back-link {
      display: block;
      margin-top: 20px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Book Details</h1>
    <nav>
      <ul>
        <li><a href="/admin/book">Book Management</a></li>
        <li><a href="/admin/users">User Management</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
  <div class="container">
    <img class="book-image" src="/assets/images/<%= book.image %>" alt="Book Image">
    <div class="book-details">
      <h2 class="book-title"><%= book.title %></h2>
      <p class="book-author"><strong>Author:</strong> <%= book.author %></p>
      <p class="book-genre"><strong>Genre:</strong> <%= book.genre %></p>
      <p class="book-description"><strong>Description:</strong> <%= book.description %></p>
      <a class="go-back-link" href="/directory">Go Back to Home</a>
    </div>
  </div>
</main>
  </section>
  <footer>
    &copy; 2023 Admin Dashboard
  </footer>
</body>
</html>
